{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-12">
            <h1>Edit Profile</h1>
            <form action="" method="post">
                {{ wtf.form_field(form.username) }}<br>
                {{ wtf.form_field(form.about_me) }}<br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
  
{% endblock %}
